/*====================================
=            masonry Page            =
====================================*/

.masonry{
  display: block;
-webkit-column-gap: 2.25rem;
-moz-column-gap: 2.25rem;
column-gap: 30px;
}

/*-2 columns------*/
.masonry.masonry-columns-2{
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
}

/*--------Responsive---------*/

@media(max-width: 540px){
  .masonry.masonry-columns-2{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    }
}

.masonry .masonry-item{
  display: inline-block !important;
  width: 100% !important;
  max-width: 100% !important;
  position: relative;
  display: block;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: .25rem;
  float: none !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-bottom: 2.25rem !important;
}

.masonry .masonry-item {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    transition: all 0.4s ease-in-out; }
    .masonry .masonry-item:hover {
      border: 1px solid #f0f0f0; }
    .masonry .masonry-item .post-title {
      font-size: 20px; }
    .masonry .masonry-item .post-info {
      color: #999;
      text-transform: uppercase; }
    .masonry .masonry-item p {
      color: #666; }
    .masonry .masonry-item .read-more {
      color: #27c2aa; }
    .masonry .masonry-item .tag-comment {
      border-top: 1px solid #f0f0f0;
      margin-top: 10px;
      padding: 5px 0;
      color: #999; }

/*=====  End of masonry Page  ======*/